<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/fridge.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
</head>
<body>
    <div>
        <h1 class='d-flex justify-content-center'> Raid the Fridge</h1>
        <div class="d-flex justify-content-end" style="margin-right: 15px;">
           {%if g.user%}
           <a href="/logout">Log Out</a>
           {%else%}
            <a href="/signup">Sign-Up</a>
            <p> / </p>
            <a href="/login">Log In</a>
            {%endif%}
        </div>
        
        <hr><br>
    </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
    {% endwith %}
    
    {%block content%}
    {%endblock%}
</body>
</html>